//Variables
$colorTitulos: #E79E4F;
$colorFondoC: #27303a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background: $fondoBody;
}

//Mapeo de lados
@mixin lados($margin-left, $margin-right) {
    margin-left: $margin-left;
    margin-right: $margin-right;
}

/* Telefonos */

@media (max-width: 425px) {

    //Footer Siempre abajo
    #contacto {
        min-height: calc(100vh - 240px);
    }

    //Formulario
    #contacto__form {
        display: flex;
        flex-direction: column;
        @include lados(5%, 5%);
        margin-top: 10px;
        padding: 20px;
        background-color: $colorFondoC;
        box-shadow: 3px 3px 14px 0px black;
    }

    //Campo de Contacto
    .contacto__campo {
        p {
            margin: 0;
            color: $colorTitulos;
            font-size: 20px;
        }

        label {
            display: block;
            padding: 8px;
            padding-left: 0;
            padding-top: 25px;
        }
    }

    //Input Texto
    input[type=text] {
        padding: 5px;
        width: 100%;
    }

    //Input mail
    input[type=email] {
        padding: 5px;
        width: 100%;
    }

    //Input enviar
    input[type=submit] {
        width: 70px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}


/* Tablet */

@media (max-width: 1024px) and (min-width: 426px) {

    //Formulario
    #contacto__form {
        display: flex;
        flex-direction: column;
        @include lados(10%, 10%);
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 20px;
        background-color: $colorFondoC;
        box-shadow: 3px 3px 14px 0px black;
    }

    //Campo de Contacto
    .contacto__campo {
        p {
            margin: 0;
            color: $colorTitulos;
            font-size: 20px;
        }

        label {
            display: block;
            padding: 8px;
            padding-left: 0;
            padding-top: 25px;
        }
    }

    //Input Texto
    input[type=text] {
        padding: 5px;
        width: 100%;
    }

    //Input mail
    input[type=email] {
        padding: 5px;
        width: 100%;
    }

    //Input enviar
    input[type=submit] {
        width: 70px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

/* Computadoras */

@media (min-width: 1025px) {

    //Footer siempre abajo
    #contacto {
        min-height: calc(100vh - 313px);
    }

    //Formulario
    #contacto__form {
        display: flex;
        margin-top: 25px;
        margin-bottom: 15px;
        flex-direction: column;
        @include lados(20%, 20%);
        padding: 15px;
        background-color: $colorFondoC;
        box-shadow: 3px 3px 14px 0px black;
    }

    //Campo de contacto
    .contacto__campo {
        p {
            margin: 0;
            color: $colorTitulos;
            font-size: 20px;
        }

        label {
            display: block;
            padding: 8px;
            padding-left: 0;
            padding-top: 25px;
        }
    }

    //Input texto
    input[type=text] {
        padding: 5px;
        width: 100%;
    }

    //Input mail
    input[type=email] {
        padding: 5px;
        width: 100%;
    }

    //Input enviar
    input[type=submit] {
        width: 70px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}