// Variables
$fondoBody: #232931;
$colorTitulos: #E79E4F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background: $fondoBody;
}

/* Telefonos */

@media (max-width: 425px) {

    //Titulo
    .sobreNos__titulo {
        color: $colorTitulos;
        font-size: 35px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    //Propiedades Imagen
    .imagen__nosotros {
        border-radius: 15px;
        padding: 10px;
    }

    //Texto
    .sobreNos__texto {
        color: white;
        text-align: justify;
        font-size: 18px;
        text-shadow: 1px 1px 1px 1px black;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
    }
}


/* Tablet */


@media (max-width: 1024px) and (min-width: 426px) {

    //Titulo
    .sobreNos__titulo {
        color: $colorTitulos;
        font-size: 45px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    //Propiedades imagen
    .imagen__nosotros {
        padding: 20px;
        border-radius: 50px;
    }

    //Texto
    .sobreNos__texto {
        color: white;
        text-align: justify;
        font-size: 20px;
        text-shadow: 1px 1px 1px 1px black;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    //Footer
    footer {
        padding-top: 55px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "pie1 pie2";
        grid-template-rows: auto;
        justify-items: center;
        align-items: stretch;
        background-color: #0f161b;
    }

    footer a {
        text-decoration: none;
        color: $colorTitulos;
    }

    footer li {
        list-style: none;
    }

    div#redes1 {
        grid-area: "pie1";
    }

    div#redes2 {
        grid-area: "pie2";
    }

    .footer__sucursales {
        color: white;
        font-size: 30px;
    }

    .footer__redes {
        color: white;
        font-size: 30px;
    }

    .socialMedia,
    .ubicacionSucursales {
        font-size: 20px;
    }
}

/* Computadoras */

@media (min-width: 1025px) {

    //Titulo
    .sobreNos__titulo {
        color: $colorTitulos;
        font-size: 50px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    //Texto
    .sobreNos__contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        text-align: justify;
        font-size: 30px;
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 75px;
        margin-left: 25px;
        margin-right: 25px;
    }

    //Propiedades 
    .imagen__nosotros {
        height: 800px;
        width: 800px;
        border-radius: 30px;
    }

    //Texto
    .sobreNos__texto {
        display: flex;
        justify-items: center;
        align-items: center;
        text-align: justify;
        padding-left: 10px;
        margin-right: 45px;
    }

    //Footer
    footer {
        padding-top: 55px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "pie1 pie2";
        grid-template-rows: auto;
        justify-items: center;
        align-items: stretch;
        background-color: #0f161b;
    }

    footer a {
        text-decoration: none;
        color: $colorTitulos;
    }

    footer li {
        list-style: none;
    }

    div#redes1 {
        grid-area: "pie1";
    }

    div#redes2 {
        grid-area: "pie2";
    }

    .footer__sucursales {
        color: white;
        font-size: 30px;
    }

    .footer__redes {
        color: white;
        font-size: 30px;
    }

    .socialMedia,
    .ubicacionSucursales {
        font-size: 20px;
    }

    //Scroll Bar Personalizada 
    ::-webkit-scrollbar {
        width: 10px;
        background: rgb(18, 29, 57);
        background: linear-gradient(180deg, rgba(18, 29, 57, 1) 34%, rgba(12, 37, 84, 1) 84%);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #393E46;
        border-radius: 5px;
    }
}