// Variables
$fondoBody: #232931;
$colorTitulos: #E79E4F;
$bordesTablas: #4ECCA3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background: $fondoBody;
}

/* Telefonos */

@media (max-width: 425px) {

    //Titulo
    .Servicios__nues {
        text-align: center;
        font-size: 35px;
        color: $colorTitulos;
        padding: 10px;
    }


    //Subtitulos
    .parrafosPrincipales {
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 5px;
    }

    //Tablas
    .tablaServicios {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "cortes precios";
        background-color: rgb(28, 28, 31);
        margin: 20px;
        border-right: 1px solid $bordesTablas;
        border-left: 1px solid $bordesTablas;
        border-top: 1px solid $bordesTablas;
    }

    section#cortes {
        grid-area: "cortes";
    }

    section#precios {
        grid-area: "precios";
    }

    .tituloTabla {
        color: $colorTitulos;
        font-size: 18px;
        text-align: center;
    }

    .lista__precios,
    .lista__cortes,
    .lista__bebidas {
        color: white;
        text-align: center;
        font-size: 15px;
    }

    //Tipos de cortes
    #cortes p {
        padding: 10px;
        border-right: 1px solid $bordesTablas;
        border-bottom: 1px solid $bordesTablas;
        margin: 0;
    }

    //Precios
    #precios p {
        padding: 10px;
        border-bottom: 1px solid $bordesTablas;
        margin: 0;
    }

    //Tipos de bebidas
    #bebidas p {
        padding: 10px;
        border-right: 1px solid $bordesTablas;
        border-bottom: 1px solid $bordesTablas;
        margin: 0;
    }
}

/* Tablet */


@media (max-width: 1024px) and (min-width: 426px) {

    //Titulo
    .Servicios__nues {
        text-align: center;
        font-size: 45px;
        color: $colorTitulos;
        padding: 10px;
    }

    //Subtitulo
    .parrafosPrincipales {
        color: white;
        font-size: 22px;
        text-align: center;
        padding: 10px;
    }

    //Tablas
    .tablaServicios {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "cortes precios";
        background-color: rgb(28, 28, 31);
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 45px;
        border: 1px solid $bordesTablas;
    }

    section#cortes {
        grid-area: "cortes";
    }

    section#precios {
        grid-area: "precios";
    }

    .tituloTabla {
        color: $colorTitulos;
        font-size: 20px;
        text-align: center;
    }

    .lista__precios,
    .lista__cortes,
    .lista__bebidas {
        color: white;
        text-align: center;
    }

    //Tipo de cortes
    #cortes p {
        padding: 15px;
        border-right: 1px solid $bordesTablas;
        border-bottom: 1px solid $bordesTablas;
        margin: 0;
    }

    //Precios
    #precios p {
        padding: 15px;
        border-bottom: 1px solid $bordesTablas;
        margin: 0;
    }

    //Tipo de bebidas
    #bebidas p {
        padding: 15px;
        border-right: 1px solid $bordesTablas;
        border-bottom: 1px solid $bordesTablas;
        margin: 0;
    }
}

/* Computadoras */

@media (min-width: 1025px) {

    //Titulo
    .Servicios__nues {
        text-align: center;
        font-size: 45px;
        color: $colorTitulos;
        padding: 15px;
    }

    //Subtitulo
    .parrafosPrincipales {
        color: white;
        font-size: 25px;
        text-align: center;
        padding: 20px;
    }

    //Tablas
    .tablaServicios {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "cortes precios";
        background-color: rgb(28, 28, 31);
        margin-right: 30%;
        margin-left: 30%;
        margin-bottom: 90px;
        border: 1px solid $bordesTablas;
    }

    section#cortes {
        grid-area: "cortes";
    }

    section#precios {
        grid-area: "precios";
    }

    .tituloTabla {
        color: $colorTitulos;
        font-size: 30px;
        text-align: center;
        border-bottom: 1px solid $bordesTablas;
    }

    .lista__precios,
    .lista__cortes,
    .lista__bebidas {
        color: white;
        text-align: center;
        font-size: 20px;
    }

    //Tipo de cortes
    #cortes p {
        padding: 25px;
        border-right: 1px solid $bordesTablas;
        border-bottom: 1px solid $bordesTablas;
        margin: 0;
    }

    //Precios
    #precios p {
        padding: 25px;
        border-bottom: 1px solid $bordesTablas;
        margin: 0;
    }

    //Tipo de bebidas
    #bebidas p {
        padding: 25px;
        border-right: 1px solid $bordesTablas;
        border-bottom: 1px solid $bordesTablas;
        margin: 0;
    }

    //Footer siempre abajo
    .Servicios {
        min-height: calc(100vh - 295px);
    }
}